// background colors
$bg-color1: #FFFF;
$bg-color2: #BBBBBB;
$bg-color3:#527CEB;
$bg-color4: #3D3D3D;
$bg-color5: #333333;
$bg-color6: #0202301A;
$bg-color7: #000000B3;
$bg-color8: #000000E6;

// text color
$txt-color1: #FFFF;
$txt-color2: #FFFFFF1F;
$txt-color3: #FFFFFFD4;
$txt-color4: #FFFFFFE6;
$txt-color5: #FFFFFF80;
$txt-color6: #E0E0E0;
$txt-color7: #AAAAAA;
$txt-color8: #03A7D3E6;
$txt-color9: #F9636B;
$txt-color10: #818A91;
$txt-color11: #888888;
$txt-color12: #B6246E;
$txt-color13: #444444;
$txt-color14: #3D3D3D;
$txt-color15: #1E1E1E;
$txt-color16: #0C0C0C;
$txt-color17: #0C0C0C12;
$txt-color18: #000000;
$txt-color19: #000000E6;
$txt-color20: #00000080;
$txt-color21: #00000014;
$txt-color22:  #000000D4;

// fill colors
$fill-color1: #FFFF;
$fill-color2: #000000;

// border colors
$border-color1: #FFFFFF1A;
$border-color2: #F9636B;
$border-color3: #B6246E;

// main font
$main-font: 'Arial', sans-serif;